{% extends 'base.html.twig' %}

{% block title %}AirBnb{% endblock %}





{% block body %}
<style>
    .articles{
        border-radius:10px;
        box-shadow: 0 4px 16px rgba(0,0,0,.25);
        padding: 16px 20px;
        margin-bottom: 60px;

    
    }
    .articleimg {
        border-radius:10px;
        box-shadow: 0 4px 16px rgba(0,0,0,.25);
        margin:10px;
        
      
    }
    .titre{
            color: tomato;
        font-family: 'Times New Roman', Times, serif;
        text-align:center;
    font-style:oblique;
    font-weight:bold;
}

.prix h5{
             color: orangered;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align:right;
    font-style:oblique;
    font-weight:bold;
    margin-right:25px;
}
.ville{
    width:100px;
    height:30px;
           font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align:center;
    font-style:oblique;
    font-weight:bold; 
    padding-top:9px;
}

    </style>

           

    
    <section class="articles container mt-5">
        <article class="mb-5">
            <h2 class="titre"> {{house.title}} </h2>

            <div style="text-align:center;">
                <img class="articleimg"src="assets/img/ar2.jpg" alt="">
            </div>
                <br/>
                            <h2 class="badge badge-danger ville">
                             {{house.location.ville}}
                             </h2>

                 <div class="prix">
                <h5>{{house.nightPrice}} TND </h5>
                </div>

                <p>{{house.description}}</p>
                
          
            </article>
        </section>
{% endblock %}